# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
.env.*

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Coverage
htmlcov/
.coverage

# Logs
*.log

# Temporary
*.swp
